<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!-- NOTE the required query string values are response_type=code&client_id=<your client_id>&state=<your state value -->
    <form action="/auth/code" method="post">
      <label for="email"><b>Username</b></label>
      <br />
      <input type="text" placeholder="Enter username" name="username" required />
      <br />
      <label for="password"><b>Password</b></label>
      <br />
      <input type="password" placeholder="Enter Password" name="password" required />
      <br />
      <input type="hidden" name="response_type" value="code" />
      <!-- NOTE we'd typically use client side JavaScript to populate client_id, state and scope via the values in the query string -->
      <input type="hidden" name="client_id" value="dev.nickmanning" />
      <input type="hidden" name="state" value="1234" />
      <input type="hidden" name="scope" value="*" />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>